@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.container-fluid h3{
  font-weight: bold;
  margin-top: 8px;
}
.container-fluid img{
  width: 80px;
  margin-right: ;
}
.container-fluid img:hover{
  transition: .5s ease-in-out;
}

.container-fluid img:hover{
  transform: scale(1.2);
  z-index: 2;
}

.btn:hover{
  color: black;
}
body{
  font-family: 'Poppins',sans-serif;

}

h1 {
  color: black;
}

body {
  text-align: center;

}

#search[type=text] {
    width: 60%;
    height: 30px;
    margin-top: 25px;
}

section {
  margin-top: 25px;

}

article {
  width: 70%;
  border: 1px solid black;
  background-color: #cccccc;
  padding: 15px;
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 22px
}

p {
  font-size: 20px;
  line-height: 30px;
  text-align: left;

}


#social{
  width: 50%;
  border: 1px solid blue;
  background-color: #66ccff;
  padding: 15px;
  margin: 25%;
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 30px;

}


h1{
  font-size: 2.5rem;
  font-weight: bold;
}

h2{
  font-size: 1.8rem;
  font-weight: 600;
}

h3{
  font-size: 1.4rem;
  font-weight: 800;
}

h4{
  font-size: 1.1rem;
  font-weight: 600;
}

h5{
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6{
  color: #d8d8d8;
}

button{
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

button:hover{
  background-color: #3a3b3c;
  transform: scale(1.05);
}

.navbar{
  font-size: 18px;
  top: 0;
  left: 0;

}
.navbar-light .navbar-toggler{
border: none;
outline: none;
}

.navbar-light .navbar-nav .nav-link{
  padding: 0 20px;
  color: black;
  transition: 0.3 ease;
}
nav ul li{
  display: inline-block;
  margin-right: 25px;
  margin-top: 9px;
}
nav ul {
  padding-left: 100%;
}
nav ul li:hover,
nav ul li .active{
transform: scale(1.0);
transition: ease-in-out 0.3s;
font-weight: 500;

}
.container-fluid i{
  margin: 20px;
}

.fa-cart-shopping{
  margin-left: 28px;
}

.container-fluid2 {
  padding: 20px;
}

.container-fluid3{
  background-color: #ffffff;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 0%;
}

.container-fluid3 .row .btn{
  margin-left: 48%;
  background-color: #1d1d1d;
  color: white;
  margin-bottom: 10px;
  transition: 0.3s;
}

.container-fluid3 .row .btn:hover{
background: #3a3b3c;
color:white;
transform: scale(1.05);
}
.togglerightbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.feat{
  text-align: center;
  margin: 0 auto 40px;
  position: relative;
  line-height: 50px;
  color: #555;
}
.feat::after{
  content: '';
  background: #ff523b;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link:after{
  content: '';
  background: #ff523b;
  width: 65px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.img-fluid{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:5px 20px;
}
.container-fluid3 img{
  weight: 400px;
  margin-bottom: 10px;
}
h4{
  margin-left: 25px;
padding-right: 5px;
  margin-top: -10px;
}
.container-fluid3 p{
  margin-top: -10px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.container-fluid3 h6{
  margin-left: 25px;
  margin-top: -10px;
}
.fa-star{
  color: #ff523b;
}
.fa-star-half-stroke{
  color: #ff523b;
}
.row h6{
  font-size: 25px;

}
.row img{
  width: auto;
  transition: .5s;
}
.row img:hover{
  transform: scale(1.03);
  z-index: 2;
}

/* new */
.wrapper{
  display: flex;
  width: auto;
  justify-content: space-around;

}
.card{
  width: 300px;
  height: 450px;
  padding: 0rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}
.card:hover{
  transform: translateY(-10px);

}

.card:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height:100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(5, 5, 5, 5) 100%);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before{
  opacity: 1;
}

.card img{
  width:100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.card .info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;


}
.card:hover .info{
   opacity: 2;
   transform: translateY(0px);
}
.card .info h1{
  margin: 0;
  margin-left: 2%;
margin-top: 200px;
}

.card .info p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
}
.card .info .btn{
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: absolute;
  margin-left: 3%;

}

#carouselExampleSlidesOnly > div > div.carousel-item.active > img{
  margin-top: 55px;
  padding: 1% 8%;
}
.card .info .btn:hover{
  background-color: gray;
  color: white;
  transform: scale(1.05);
}

/* Testimonials */

.testimonial{
  padding-top: 50px;
  padding-bottom: 100px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.testimonial .col-lg-4{
  text-align: center;
  padding: 40px 20px;
  margin-left:;
  box-shadow: 0 0 0px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-lg-4 img{
  width: 70px;
  margin-top: 10px;
  border-radius: 50%;
}
.testimonial .col-lg-4:hover{
  transform: translateY(-10px);
}
.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.testimonial .col-lg-4 p{
  font-size: 12px;
  margin: 12px 0px;
  color: #777;
}

.testimonial .col-lg4 h3{
  font-weight: 600;
  color: #555;
  font-size: 20px;
  padding-top: 5px;
}

.footer{
  background: #000;
  margin-top: 10px
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0px 20px;
}
.footer img{
  width: 80px;
}

.footer-bottom{
  background: #000;
  width: 10;
  margin-top: 80px;
  text-align: center;

}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-bottom p:hover{
color: white;
font-weight: lighter;
}
body > section > div > div.col-lg-6.col-md-12.col-md-12 > a > button{
  padding: 5px 30px;
  margin-top: 10px;
transition: .2s ease-in-out;
}
body > section > div > div.col-lg-6.col-md-12.col-md-12 > a > button:hover{
color: white;
background-color: #000;
transform: scale(1.1);


}


body > section > div > div.col-lg-6.col-md-12.col-md-12 > span > h4{
  margin-left: 0;

}
body > footer > div > div.footer-bottom > button.btn.btn-dark{
  padding: 1px 30px;


    margin: 2% 5px;
}
body > footer > div > div.footer-bottom > button.btn.btn-outline-light.download-button{
    padding: 1px 30px;

    margin: 2% 5px;
}
body > footer > div > div.footer-bottom > button.btn.btn-outline-light.download-button:hover{
color: black;
}

.cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead{
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  padding: 18px 0;
}

#cart table tbody tr td{
  padding-top: 15px;
}

#cart table tbody td{
  font-size: 13px;
}
#cart > table > tbody:nth-child(2) > tr > td:nth-child(2) > img{
  width: 70px;
}
#Home span{
  color: RED;
}
/*  */


#cart-add{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}

#coupon {
width: 50%;
margin-bottom: 30px;
}

#coupon h3{
padding-bottom: 15px
}
#coupon > div > button{
  margin: 0 10px;
  border-radius: 10px;
}
#coupon input{
padding: 10px 20px;
outline: none;
width: 70%;
border: 1px solid #000;
}
.container-fluid7{
  padding: 0 3%;
}
.small-img-group{
  display: flex;
justify-content: space-between;
padding-left: 14px;
padding-right: 14px;
}

#subtotal{
  width: 45%;
  margin-bottom: 30px;
  border: 1px solid #000;
  padding: 30px;
  padding-right: 161px;


  }

#cart > table > tbody > tr:nth-child(1) > td:nth-child(1) > a:nth-child(1) > svg{
  color: #ff523b;
  transition: 0.3s ease-in-out;
  font-size: 30px;
}
#cart > table > tbody > tr:nth-child(2) > td:nth-child(1) > a:nth-child(1) > svg{
  color: #ff523b;
  transition: 0.3s ease-in-out;
  font-size: 30px;
}
#cart > table > tbody > tr:nth-child(3) > td:nth-child(1) > a:nth-child(1) > svg{
  color: #ff523b;
  transition: 0.3s ease-in-out;
  font-size: 30px;
}
#cart > table > tbody > tr:nth-child(4) > td:nth-child(1) > a:nth-child(1) > svg{
  color: #ff523b;
  transition: 0.3s ease-in-out;
  font-size: 30px;
}

#cart > table > tbody > tr:nth-child(1) > td:nth-child(1) > a:nth-child(1) > svg:hover{
  transform: scale(1.09);

}
#cart > table > tbody > tr:nth-child(2) > td:nth-child(1) > a:nth-child(1) > svg:hover{
  transform: scale(1.09);

}
#cart > table > tbody > tr:nth-child(3) > td:nth-child(1) > a:nth-child(1) > svg:hover{
  transform: scale(1.09);

}
#cart > table > tbody > tr:nth-child(4) > td:nth-child(1) > a:nth-child(1) > svg:hover{
  transform: scale(1.09);

}

#cart > table > tbody > tr:nth-child(1) > td:nth-child(4){
color: red;
font-size: 20px;
}
#cart > table > tbody > tr:nth-child(2) > td:nth-child(4){
color: red;
font-size: 20px;
}
#cart > table > tbody > tr:nth-child(3) > td:nth-child(4){
color: red;
font-size: 20px;
}
#cart > table > tbody > tr:nth-child(4) > td:nth-child(4){
color: red;
font-size: 20px;
}
#cart > table > tbody > tr:nth-child(1) > td:nth-child(6){
color: red;
font-size: 20px;
}
#cart > table > tbody > tr:nth-child(2) > td:nth-child(6){
color: red;
font-size: 20px;
}
#cart > table > tbody > tr:nth-child(3) > td:nth-child(6){
color: red;
font-size: 20px;
}
#cart > table > tbody > tr:nth-child(4) > td:nth-child(6){
color: red;
font-size: 20px;
}

#subtotal table{
border-collapse: collapse;
width: 120%;
margin-bottom: 10px;

}
#navbarNavAltMarkup > ul > a > i{
  transition: .03s ease-in-out;

}
#navbarNavAltMarkup > ul > a > i:hover,
#navbarNavAltMarkup > ul > a > i .active{
  transform: scale(1.1);
  color: #ff3b14;
}
#subtotal table td{
  width: 50%;
  border: 1px solid #000;
  padding: 10px 0px;
  font-size: 13px;
  margin-top: 100px;
  text-align: center;
}
#subtotal h3{
  margin-bottom: 10px;
}
#subtotal > button{
  border-radius: 10px;
  margin-top: 10px;
}
body > section > div > div.col-lg-6.col-md-12.col-md-12 > h3{
  color: black;
  margin-bottom: -50px;
  margin-left: 0px;
}

body > section > div > div.col-lg-6.col-md-12.col-md-12 > h6{
  color: gray;
  margin-bottom: -35px;
  margin-top: 20px;

}
body > section > div > div.col-lg-6.col-md-12.col-md-12{
  padding: 2% 10%;
  margin-left: 0px;
  justify-content: center;
}

body > section > div > div.col-lg-5.col-md-12.col-12 > img{
  padding: 0% 10%;
  margin-left: 0%;
  padding-bottom: 5%;
  justify-content: center;

}

.sproduct select{
  display: block;
  padding: 5px 10px;

}

.sproduct input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  margin-right:10px;
  font-size:16;

}
.sproduct input:focus{
outline: none;
}

body > section > div > div.col-lg-6.col-md-12.col-md-12 > button{
    background: #1d1d1d;
  opacity: 1;
  transition: 0.3s all;
  border-radius: 20px;
}
body > section > div > div.col-lg-6.col-md-12.col-md-12 > button:hover{
  background: black;
  color: white;
border-radius: 20px;
}

body > section > div > div.col-lg-5.col-md-12.col-12 > div > div:nth-child(1) > img{
  margin-left: -5%;
border-radius: 10px;
}
body > section > div > div.col-lg-5.col-md-12.col-12 > div > div:nth-child(2) > img{
  margin-left: -5%;
  border-radius: 10px;

}
body > section > div > div.col-lg-5.col-md-12.col-12 > div > div:nth-child(3) > img{
  margin-left: -5%;
  border-radius: 10px;

}
body > section > div > div.col-lg-5.col-md-12.col-12 > div > div:nth-child(4) > img{
  margin-left: -5%;
  border-radius: 10px;

}
.small-img-icon{
  flex-basis: center;
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.container img{
  width: 80px;

}
.container .row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.container .footer{
	background-color: #24262b;
    padding: 70px 0;
}
.container .col-lg-3{
   width: 25%;
   padding: 0 15px;
}
.container .col-lg-3 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}


.container .col-lg-3 ul li:not(:last-child){
	margin-bottom: 10px;
}
.container .col-lg-3 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.container .col-lg-3 ul li a:hover{
	color: #ff3d14;
	padding-left: 8px;
}
.container .col-lg-3 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.container .col-lg-3 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.container h3{
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}
/*responsive*/
@media(max-width: 767px){
  .container .col-lg-3{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .container .col-lg-3{
    width: 100%;
}
}
body > div.container-fluid3 > a{
  padding: 2px 20%;
  margin: 30px 0;
  margin-left: 28%;
  background-color: gray;
  color: #fff;
  transition: 0.3s ease-in-out;
}
body > div.container-fluid3 > a:hover{
transform: scale(1.03);
background-color: #1d1d1d;
color: white;
font-weight: bold;

}
#featured > div > div > div:nth-child(10) > nav2 > ul > li.page-item.active > a{
background-color: #1d1d1d;

}

#featured > div > div > div:nth-child(10) > nav2 > ul > li:nth-child(n):hover>a{
  background-color: #ff3d14;
  color: #fff;
}
.pagination a {
  color: black;
}

#navbarNavAltMarkup > ul > i{
  transition: 0.3 ease-in-out;
}

#navbarNavAltMarkup > ul > i:hover{
  color: #ff3b14;
  transform: scale(1.09);
}


#myVideo {
margin-top: 0%;
  right: 0;
  bottom: 0;
  padding: 0 10px;
}

/* Add some content at the bottom of the video/page */
.content {
  text-align: center;
  margin-top: 90px;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */

#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

#contact-details .details{
  width: 40%;

}

#contact-details .details span,
#form-details form span{
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;

}

#contact-detais .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;

}

#contact-details .details li i{
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p{
  margin: 0;
  font-size: 14px;
}

#contact-details .map{
  width: 55%;
  height: 400px;
}

#contact-details .map iframe{
  width: 100%;
  height: 100%;

}

#form-details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;

}

#form-details form{
width: 65%;
display: flex;
flex-direction: column;
align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #000;

}

#form-details > form > button{
  margin-bottom: 20px;
}

#form-details .people div{
  padding-bottom: 25px;
display: flex;
align-items: flex-start;
}
  #form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 100%;
  }
}

#form-details .people div p{
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div p span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.people{
  padding: 100px;
}


#Home {
  margin: 0;
  padding: 0;
  background-image: url(../images/model4.png);
  width: 100%;
  height: vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 80px center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  text-align: right;

}

@media (min-width: 0px) {
  #Home{
    height: vh;
  }
  .testimonial{
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
.card .info h1{
  margin: 0;
  margin-left: 2%;
margin-top: 40px;
margin-bottom: 0px;
}
}
@media (min-width: 720px){
  .card .info h1{
    margin: 0;
    margin-left: 2%;
  margin-top: 170px;
  margin-bottom: 0px;
  }

}

@media (min-width: 992px) {
  .card .info h1{
    margin: 0;
    margin-left: 2%;
  margin-top: 200px;
  margin-bottom: 0px;
  }
  }

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media (max-width: 770px) {
  #Home{
    height: 68vh;
  }
}
.container img{
  width: 80px;
  margin-left: px;
}


@media (min-width: 770px) {
  #Home{
    height: 78vh;
  }

}
@media (min-width: 1200px) {

  .container img{
    width: 80px;
    margin-left: 58px;
  }
}
@media (min-width: 992px) {
  #Home{
    height: 90vh;
  }
}
@media (max-width: 769px) {

.container img{
  width: 80px;
  margin-left: 58px;
}
}
@media (max-width: 769px) {
  .h1, h1 {
      font-size: calc(.5rem + 1.5vw);
  }
  element.style {
      font-size: small;

  }
}
@media (max-width: 300px) {
    .h1, h1 {
  font-size: calc(.375rem + .5vw);
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: smaller;
}
  }

  @media (max-width: 800px) {

  }
@media(max-width:799px){
  #contact-details{
  flex-direction: column;
  }
  #contact-details .details{
    width: 100;
    margin-bottom: 30px;
  }

  #contact-details .map{
    width: 100%
  }
  #form-details{
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form-details form{
    width: 100%;
    margin-bottom: 30px;
  }
}


body{
    background: -webkit-linear-gradient(left, #1d1d1d, #1d1d1d);
padding-top: 100px;
}
.emp-profile{
    padding: 3%;
    padding-top: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
    border-radius: 10px;
}
/* .profile-img .button {
    position: relative;
    overflow: hidden;
    width: 20%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
/* } */
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.profile-edit-btn:hover{
  transform: scale(1.09);
  color: white;
  background-color: black;
}

.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

body {
  }
  #secondary {
      background-color: #f9bc35;
      border-radius: 0 4rem 4rem 0;
      text-align: center;
      margin-left: -100px;
  }
.modal-body {
  display: flex;
  padding: 0;
  border-radius: 4rem;
  font-family: 'PT Sans', sans-serif;
}

.modal-content {
  border-radius: 4rem;
  width: 140%;
  -webkit-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
-moz-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
}
.modal-content h1, .modal-content h2, .modal-content h3 {
    text-align: center;
}
.modal-content h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}
element.style {
    font-size: 10px;
}



.modal-content h2 {
    font-size: 1.1em;
}
.modal-content h3 {
  font-size: .8em;
  letter-spacing: 2px;
}
form {
    font-size: .8em;
}
.column {
  flex: 50%;
  padding: 10px;
}

.column#main {
  flex: 75%;
  padding: 50px;
  margin-top: 30px;
  margin-left: 15px;
}

#secondary {
  background-color: #F9BC35;
  border-radius: 0 4rem 4rem 0;
  text-align: center;
}

#main .form-control {
  border-radius: 0;
  font-size: .9em;
}
.btn2{
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}
.btn{
  text-transform: uppercase;
  border-radius: .15rem;
  width: 220px;
  padding: .150rem  0rem .75rem;
  margin: 30px auto;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0px;
}
#secondary > div > a{
  text-decoration: none;
}
img, svg {
    width: 90px;
}

.btn-primary {
  border-color: rgba( 255, 255, 255, 0);
  background: #f1da36; /* Old browsers */
background: -moz-linear-gradient(left, #f1da36 0%, #fca86c 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f1da36 0%,#fca86c 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f1da36 0%,#fca86c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); /* IE6-9 */
Color format:     Comments
}
body > button{
  margin: 0;
  margin-right: 50%;
  top: 50%;
  left: 50%;
}
.btn-primary:hover {
  border-color: rgba( 255, 255, 255, 0);
}

#main .btn-primary {
  width: 100%;
}
#secondary .btn-primary {
  background: #f8f9fa4f;
  color: #000;
}
.modal-body label {
  margin-bottom: 0;
}

.sec-content {
  margin-top: 85%;
}
